.title{
    font-weight: 500;
    font-size: 30px;
}

/* Estilos comunes */
.dailyItem,
.dailyDetailsGridItem {
    display: flex;
    align-items: center;
}

.dailyItem {
    background-color: #f5f5f5;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}

.dailyItem .day {
    flex: 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1;
    margin-right: 15px;
    text-align: right;
}

.iconsSmall {
    width: 40px;
}

.minMax {
    color: #757575;
}

.dailyDetailsGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0;
    grid-column-gap: 15px;
    padding: 5px 15px;
}

.dailyDetailsGridItem {
    height: 30px;
    justify-content: space-between;
}

.dailyDetailsGridItem label:first-child {
    color: #757575;
}

.dailyDetailsGridItem label:last-child {
    color: #212121;
}


/* Estilos específicos para pantallas pequeñas */
@media (max-width: 768px) {
    .dailyItem {
        height: 50px;
        font-size: 16px;
        padding: 10px 20px;
    }

    .dailyItem .day {
        margin-left: 10px;
    }

    .description {
        margin-right: 10px;
    }

    .dailyDetailsGrid {
        grid-template-columns: auto;
    }
}