.weather {
    width: 90%;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #333;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

/* Top and Bottom Sections */
.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* City and Weather Description */
.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weatherDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

/* Weather Icon */
.weatherIcon {
    width: 100px;
}

/* Temperature */
.temperature {
    font-weight: 600;
    font-size: 70px;
    letter-spacing: -5px;
    margin: 10px 0;
}

/* Details */
.details {
    padding-left: 20px;
}

/* Parameter Rows */
.parameterRow {
    display: flex;
    justify-content: space-between;
}

/* Parameter Label and Value */
.parameterLabel {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameterValue {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

/* Media Queries */

/* Small Screens */
@media (max-width: 480px) {
    .weather {
        width: 95%;
        margin: 10px auto 0 auto;
        padding: 0 10px 10px 10px;
    }
    .temperature {
        font-size: 50px;
    }
    .parameterLabel, .parameterValue {
        font-size: 10px;
    }
}

/* Medium Screens */
@media (min-width: 481px) and (max-width: 767px) {
    .weather {
        width: 70%;
        margin: 20px auto 0 auto;
    }
    .weatherIcon {
        width: 80px;
    }
    .temperature {
        font-size: 60px;
    }
    .parameterLabel, .parameterValue {
        font-size: 11px;
    }
}

/* Large Screens */
@media (min-width: 768px) {
    .weather {
        width: 60%;
        margin: 30px auto 0 auto;
    }
    .weatherIcon {
        width: 120px;
    }
    .temperature {
        font-size: 80px;
    }
    .parameterLabel, .parameterValue {
        font-size: 13px;
    }
}