.container {
  max-width: 90%;
  margin: 20px auto;
}

/* Estilos específicos para pantallas medianas y grandes */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
